/* body {
  margin:0;
  background:#80ADC2;
} */
span {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

article {
  z-index: 1;
  justify-self: center;
  align-self: center;
  /* margin: auto; */
  -webkit-transform: translateY(-200px) translateX(-100px); 
  -moz-transform: translateY(-200px) translateX(-100px); 
  -ms-transform: translateY(-200px) translateX(-100px); 
  transform: translateY(-200px) translateX(-100px); 
}

figure,
div {
  width: 150px;
  height: 350px;
  border-radius: 3px;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.33));
  background: url('../src/Components/assets/tarot-card-back.png') no-repeat center; 
  animation: shuffle2 2s ease infinite;
  position: absolute;
  margin: 0 auto;
}

/* figure {
  animation: shuffle2 2s ease infinite;
}

div {
  animation: shuffle1 2s ease infinite;
} */

.spin figure {
/* animation: shuffle2 2s ease infinite; */
animation-direction: reverse;
}

figure:nth-child(2) {
  /* left: 150px; */
  animation-delay: .5s;
}

figure:nth-child(3) {
  /* left: 150px; */
  /* top: 150px; */
  animation-delay: 1s;
}

figure:nth-child(4) {
  /* top: 150px; */
  animation-delay: 1.5s;
}

div:nth-child(2) {
  /* left: 50px; */
  animation-delay: .5s;
}

div:nth-child(3) {
  /* left: 50px; */
  /* top: 50px; */
  animation-delay: .8s;
}

div:nth-child(4) {
  /* top: 50px; */
  animation-delay: 1.5s;
}

@keyframes shuffle1 {
0% {
  transform: translateX(0);
}
25% {
  transform: translateX(50px) rotate(90deg);
}
50% {
  transform: translateX(50px) translateY(50px) rotate(0);
}
75% {
  transform: translateX(0) translateY(50px) rotate(90deg);
}
100% {
  transform: translateX(0);
}
}

@keyframes shuffle2 {
0% {
  transform: translateX(0);
}
25% {
  transform: translateX(150px) rotate(90deg);
}
50% {
  transform: translateX(150px) translateY(150px) rotate(0);
}
75% {
  transform: translateX(0) translateY(150px) rotate(90deg);
}
100% {
  transform: translateX(0);
}
}