body {
  margin:0;
  background:#80ADC2;

}

figure,
div {
  width: 150px;
  height: 350px;
  border-radius: 3px;
  box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.79);
  /* filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.33)); */
  background: url('public/assets/tarot-card-back.png') no-repeat center; 
  /* position: absolute; */
  /* margin: 0; */
}

figure {
  animation: shuffle2 2s ease infinite;
}

div {
  animation: shuffle1 2s ease infinite;
}

.spin figure {
animation: shuffle2 2s ease infinite;
animation-direction: reverse;
}

figure:nth-child(2) {
  left: 150px;
  animation-delay: .5s;
}

figure:nth-child(3) {
  left: 150px;
  top: 150px;
  animation-delay: 1s;
}

figure:nth-child(4) {
  top: 150px;
  animation-delay: 1.5s;
}

div:nth-child(2) {
  left: 50px;
  animation-delay: .5s;
}

div:nth-child(3) {
  left: 50px;
  top: 50px;
  animation-delay: .8s;
}

div:nth-child(4) {
  top: 50px;
  animation-delay: 1.5s;
}

@keyframes shuffle1 {
0% {
  transform: translateX(0);
}
25% {
  transform: translateX(50px) rotate(90deg);
}
50% {
  transform: translateX(50px) translateY(50px) rotate(0);
}
75% {
  transform: translateX(0) translateY(50px) rotate(90deg);
}
100% {
  transform: translateX(0);
}
}

@keyframes shuffle2 {
0% {
  transform: translateX(0);
}
25% {
  transform: translateX(150px) rotate(90deg);
}
50% {
  transform: translateX(150px) translateY(150px) rotate(0);
}
75% {
  transform: translateX(0) translateY(150px) rotate(90deg);
}
100% {
  transform: translateX(0);
}
}