/* body { 
  background-color:#fadf5a;
} */

.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.header {
  font-family: 'Lora', serif;
}
.page-header {
  font-weight: bolder;
  font-size: 2em;
}
.content-header {
  font-size: 2em;
}
.menu-header {
  margin-top: 1em;
}
.menu-link {
  color: black;
  font-weight: bold;
}
.menu-link:hover {
  background-color: #fadf5a;
  color: black;
}

/* Lauren's btn, input, button */
.btn {
  background-color: #364153;
  font-size: 16px;
  padding:10px 20px; 
  display: inline-block;
  border-radius:5px;
  color :white;
}

.input {
  background-color: white;
  border-color: white;
  padding:20px 10px;
  border-radius:5px;
  margin: 30px;
  width: 300px;
  text-align: center;
  font-style: italic;
}

.btn {
  padding:10px 30px;
  margin: 20px;
}
/* Lauren's btn, input, button end */

.show-cards {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px; 
}

.description{
  text-align: left;
}

.cards-display{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card img{
  width: 150px;
  height: 270px;
}

.tarot-description{
  margin-bottom: 10px;
}

.upside-down {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */
}

.shuffle-button {
  z-index: 1000;
}

.ani-container {
  position: absolute;
  top: 400px;
}

.navbar {
  background-color: #fadf5a;
}

.initial {
  background-color: #fadf5a;
  height: 95vh;
  padding-top: 10em;
}